@CHARSET "gbk";
*{
    padding:0px;
    margin: 0px;
}
.admin-head{
	width:100%;
        padding-top:10px;
       
}
.admin-head a{
        text-decoration: none;
        display: inline-block;
        border: solid 1px #999;
        background: #ccc;
        color:#000;
        width:30%;text-align:center;float:left;margin:1%;
}
.admin-head a.cur{
    background:#fff;
}
.clearfix{
	clear:both;
}
.admin-head-around{
     position:relative;margin-bottom:2%;
}