@CHARSET "gbk";
.admin-login{
	width:80%;margin:0 auto;padding:10%;
}
.login-info{
	padding-top:25%;
}
.login-window{
	width:100%;
	height:50%;
	margin:0 auto;
	border: solid rgb(231,230,230) 1px;
	box-shadow: 3px 1px 3px rgb(204,204,204);
}
.login-window h5{
	text-align:center; 
}
.login-window .login{
	margin:10% auto;
	text-align:center; 
}
.login-window .login input{
    width:80%;margin:3% 0px;
}
