@CHARSET "gbk";

body{
	background:url(/assets/images/front/index/background_bg.png);
}
*{
	padding:0px;margin:0px;
}
.deal-main{
	width:100%;
	margin:15px auto;
}
.item-deal{
	position:relative;
	font-size:16px;
	color:#888;
	font-family:"微软雅黑";
	width:100%;
}
.item-deal .item-img{
	width:100%;
}
.item-deal .item-tit{
	overflow:hidden;
	font-size:26px;
	text-decoration:none;width:100%;
}
.item-deal .item-tit a{
	color:#888;
}
.item-deal span{
	display:inline-block;width:60%;
}
.item-deal del{
	display:inline-block;
	width:35%;
	margin-top:10px;
}
.item-deal .nprice{
	width:45%;display:inline-block;
	margin-top:10px;
	color:#FF68B8;
	font-size:38px;
}
.item-deal .buy{
	width:100%;
	height:53px;
	line-height:44px;
	background:#FD2F70;
	color:#fff;
	text-align:center;
	border-radius:5px;
}
.item-deal .buy a.normal{
	display:block;
	position:absolute;top:0px;
	width:100%;
	height:100%;
}
.item-img tkbox,tkbox,.item-tit tkbox{
	position:absolute;top:0px;
}
.item-img tkbox,tkbox,.item-tit tkbox a{
	width:100%;height:100%;
}
.clearfix{
	clear:both;
}
/* yx-item-hr */
.hr{
	width:95%;
	height:1px;
	background:rgb(211, 214, 209);
        margin: 2em auto;
}
/* end - yx-item-hr */

/* yx-item-like */
.items-like{
	width:95%;margin:0 auto;
}
.items-like p{
	margin-bottom:1em;
}
.items-like ul{
    list-style-type: none;
}
.items-like li{
	float:left;width:45%;margin:1em;
}
.items-like li{
	position:relative;
}
.items-like li .price del{
	font-family: "微软雅黑";
	color: gray;
	font-size: 12px;
	font-weight: normal;
        width:45px;overflow: hidden;display: inline-block;
}
.items-like li .price span{
	color: #D10303;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: 600;
}
.items-like li .price a{
	display:block;
	float:right;
	width:70px;
	height:20px;
	background: #EA2F5C;
	color: #FFF;
	margin-top: 5px;
	text-align: center;
	border-radius:5px;
}
/* end - yx-item-like */